#Kubuntu directory
*/.directory
**/*.directory

#Intellij directory
**/.idea/
*/.idea/

#Dotnetcore directories
**/obj/
**/bin/

#npm directories
**/node_modules/

#ng build directory
TourManagerUI/dist/


**/wwwroot/
*/.idea/.idea.TourManagerBackEnd/.idea/contentModel.xml
TourManagerBackEnd/.idea/*


TourManagerBackEnd/TourManagerBackEnd/TourManager.db
.vscode/
TourManagerBackEnd/publish/
AppDir/
hwapp-x86_64.AppImage
appimagetool-x86_64.AppImage
TourManagerBackEnd/TourManagerWeb/TourManager.db
TourManagerBackEnd/.vs/
